.telalogin{
	height: 300px;
	width: 400px;
	background: black;
	margin: 0px 300px 90px 300px;
}

input#telausuario{  
	border-top: 0px;
	border-left: 0px;
	border-right: 0px;
	border-bottom: solid purple 1px; 
	background-color: transparent;
	border-color: red;
	font-family: Verdana;
	font-size: 16px;
		width: 350px;
	}
	input#telausuario:focus{  
		outline: none;
	border-top: 0px;
	border-left: 0px;
	border-right: 0px;
	border-bottom: solid purple 1px; 
	background-color: transparent;
	border-color: red;
	font-family: Verdana;
	font-size: 16px;
		width: 350px;
	}